In [22]:
import pandas as pd

In [68]:
import matplotlib.pyplot as plt
dtf = pd.read_csv('http://dadosabertos.ibama.gov.br/dados/RAPP/impExpFaunaFlora/relatorio.csv', low_memory=False,delimiter=';', encoding='UTF-8', decimal=',')
dtf.columns

Index(['CNPJ', 'Razão Social', 'Estado', 'Município', 'Código da Categoria',
       'Categoria de Atividade', 'Código do Detalhe', 'Detalhe', 'Ano',
       'Nome do produto', 'Quantidade importada', 'Quantidade exportada',
       'Unidade de Medida', 'Estoque em 31 de dezembro de',
       'Situação Cadastral'],
      dtype='object')

In [74]:
data1 = dtf['CNPJ'].head()
data2= dtf['Estado'].head()
conc_data_col = pd.concat([data1,data2],axis =1)
conc_data_col

                     CNPJ          Estado
15783  97.493.373/0001-83  SANTA CATARINA
15784  97.520.397/0001-84          PARANA
15785  97.520.397/0001-84          PARANA
15786  97.520.397/0001-84          PARANA
15787  97.520.397/0001-84          PARANA